<!DOCTYPE html lang="en">
<html>
  <head>
    <title>Create All</title>
    <link
      rel="stylesheet"
      href="https://ssl.gstatic.com/docs/script/css/add-ons1.css"
    />
    <style>
      progress {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <p id="student"></p>
    <div><progress id="progress" value="0" max="100"></progress></div>
    <script>
      // https://stackoverflow.com/a/72292354

      function updateProgress(data) {
        const student = document.getElementById('student');
        const progress = document.getElementById('progress');
        progress.innerHtml = `${data.value}/${data.max}`;
        progress.max = data.max;
        progress.value = data.value;
        student.innerHtml = data.current;
        if (data.value != data.max) {
          getUpdatedProgress();
        } else {
          google.script.host.close();
        }
      }

      function getUpdatedProgress() {
        google.script.run
          .withSuccessHandler(updateProgress)
          .helper_createAll_getProgress();
      }

      getUpdatedProgress();
    </script>
  </body>
</html>
