<!DOCTYPE html lang="en">
<html>
  <head>
    <title>Create All</title>
    <link
      rel="stylesheet"
      href="https://ssl.gstatic.com/docs/script/css/add-ons1.css"
    />
    <style>
      progress {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <progress id="progress" value="0" max="100"></progress>
    <p id="student">&nbsp;</p>
    <script>
      // https://stackoverflow.com/a/72292354

      function updateProgress(data) {
        const progress = document.getElementById('progress');
        const student = document.getElementById('student');
        try {
          Object.assign(progress, data);
          progress.innerHTML = `${data.value} / ${data.max}`;
          student.innerHTML = data.current;
        } catch (e) {
          console.error(e.message);
        }
        if (!data || data.value != data.max) {
          getUpdatedProgress();
        } else {
          google.script.host.close();
        }
      }

      function getUpdatedProgress() {
        google.script.run
          .withSuccessHandler(updateProgress)
          .helper_createAll_getProgress();
      }

      getUpdatedProgress();
    </script>
  </body>
</html>
