<!DOCTYPE html lang="en">
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://ssl.gstatic.com/docs/script/css/add-ons1.css"
    />
  </head>
  <body>
    <div id="content">
      <form id="confirmation">
        <div>
          Are you sure that you want to delete all course plans? This will wipe
          the course plan, advisor folder, and form folder inventories and trash
          all inventoried course plans and folders. While recoverable, it will
          be complicated <em>and</em> time-consuming.
        </div>
        <div class="form-group bottom-right">
          <button id="cancel" type="cancel" class="button">Cancel</button>
          <button id="delete" type="submit" class="red button">
            Delete All
          </button>
        </div>
      </form>
    </div>
    <?!= include('js/delete-all', data); ?>
  </body>
</html>
